.tam{
  max-height: 40rem;
}

.cards{
  border: solid blue 5px;
  overflow: hidden;
}

.corrigir{
  overflow: hidden;
}

.centralizar{
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.rodape{
  text-align: center;
}